.monsters-list {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.monsters-list__monster {
  border: 1px solid orange;
}

.monsters-list__monster--title {
  text-align: center;
}
